.button {
  margin: 2rem;
}

.carousel{
  background-color: black;
}
.carousel-control-prev, .carousel-control-next {
  margin: 10rem 0;
  height: 10vh;
}
.addBookContainer{
  background-color: lightcyan;
}


